<a href="https://colab.research.google.com/github/k-ardliyan/learn-data-science/blob/master/Tugas_Hari_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
# menampilkan hello world python
print("Hello World Python")

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
# aritmatika python langsung di tampilkan
print(1+2) # 3
print(2-1) # 1
print(3*2) # 6
print(4/2) # 2

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
# variabel a dan b numerik berupa integer defaultnya
a = 3
b = 2

# membuat nilai diatas menjadi data integer/float
isInteger = int(a/b)
isFloat = float(a/b)

#cek tipe data Integer
print(type(isInteger))

#tampilkan hasil
print(isInteger)

#cek tipe data Float
print(type(isFloat))

#tampilkan hasil
print(isFloat)

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [ ]:
firstName = "Kholifatul"
lastName = "Ardliyan"
print("Hello sanbercode, saya " + firstName + " " + lastName + "! saya siap belajar python data science.")

# alternatif lain
# print("Hallo sanbercode, saya", firstName, lastName, "! saya siap belajar python data science.")
# print("Hello sanbercode, saya %s %s! saya siap belajar python data science." % (firstName, lastName))
# print(f"Hallo sanbercode, saya {firstName} {lastName}! saya siap belajar python data science.")

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
p = 9.99999
q = 'the number: '
print(q + str(p))
# str mengubah tipe data menjadi string

Expected Output :

the number: 9.99999